/**
 * Hosteller
 * Hosteller Template created for hostels, students hotels, guest houses, small hotel, resort, room reservation, travel and more
 * Exclusively on https://1.envato.market/hosteller-html
 *
 * @encoding        UTF-8
 * @version         1.0.3
 * @copyright       (C) 2018 - 2022 Merkulove ( https://merkulov.design/ ). All rights reserved.
 * @license         Envato License https://1.envato.market/KYbje
 * @contributors    Lamber Lilit (winter.rituel@gmail.com)
 * @support         help@merkulov.design
 **/
@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bunk_bed:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-chevron_down:before {
  content: "\e902";
}
.icon-comment:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-email:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-reply:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-star:before {
  content: "\e90e";
}
.icon-twin_bed:before {
  content: "\e90f";
}
.icon-eye:before {
  content: "\e910";
}
.icon-arrow_right:before {
  content: "\e911";
}
.icon-clock:before {
  content: "\e912";
}
.icon-location:before {
  content: "\e913";
}
.icon-arrow_left:before {
  content: "\e914";
}
.icon-sofa:before {
  content: "\e915";
}
.icon-chevron_down--entypo:before {
  content: "\e916";
}
.icon-close--entypo:before {
  content: "\e917";
}
.icon-stream:before {
  content: "\e918";
}
.icon-close:before {
  content: "\e919";
}
.icon-whatsapp:before {
  content: "\e921";
}
